Appium-Python-Client==1.0.2
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
docutils==0.16
idna==2.10
kitchen==1.2.6
requests==2.25.1
robotframework==3.2.2
robotframework-appiumlibrary==1.5.0.7
robotframework-pythonlibcore==2.1.0
robotframework-seleniumlibrary==4.5.0
selenium==3.141.0
six==1.15.0
urllib3==1.26.2
robotframework-datadriver==1.0.0
xlrd==1.2.0
robotframework-requests==0.8.0
robotframework-httplibrary==0.4.2
robotframework-dependencylibrary==3.0.1
robotframework-excellib==2.0.1
pyyaml==6.0
